/*
 * Overwritten by RailsBricks
 *
 *= require_self
 */
@import "railsbricks_custom";

.message-table > tbody > tr > td.last {
	text-align: right;
}

.msg-sent {
	background-color: #000000;
}

.msg-received {
	background-color: #f9f9f9;
}