<% title("Edit User Id: #{@user.id}") %>
<div class="row">
  <div class="col-sm-6">
    <h1>
      Edit User <small><%= "#{@user.email} - id: #{@user.id}" %></small>
    </h1>
    <p><%= link_to "Back to User", admin_user_path(@user) %></p>

 
      <%= render 'form' %>


      <div style="margin-top:40px">
        <a class="btn btn-danger" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="<%= admin_user_path(@user) %>">Delete User</a>
      </div>
  </div>
</div>
