

<% if !user_signed_in? %>
<li><%= link_to "Sign in", new_user_session_path %></li>

<% else %>

<% if current_user.admin? %>
<li><%= link_to "People", admin_users_path %></li>
<li><%= link_to "Account", edit_admin_user_path(current_user) %></li>
<% end %>

<li><%= link_to "Sign out", destroy_user_session_path, data:{method: :delete} %></li>
<% end %>
